@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	height: 100vh;
	width: 100%;
	padding: 2rem;
}

.menu {
	position: fixed;
	z-index: 1000;
	width: 150px;
	background: #1b1a1a;
	border-radius: 5px;
	display: none;
	list-style: none;
}

.menu.open {
	display: block;
}

.menu .menu-item {
	padding: 8px 10px;
	font-size: 1rem;
	color: #eee;
	cursor: pointer;
	transition: background-color 0.2s ease-in;
	border-radius: inherit;
}

.menu .menu-item:hover {
	background: #343434;
}
body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure {
    position: absolute;
    opacity: 0;
}

/* animation hide */
.animation {
    transition: 1s ease-in-out;
}
.animation--hide {
    animation: fadeOut 0.5s ease-in-out;
}
.animation--show 
{
    display: block;
    animation: fadeIn 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }

  .modal-window {
      position: relative;
      width: 60%;
      height: 60%;
      background-color: #1b1a1a;
      border-radius: 10px;
      padding: 20px;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition-duration: 0.3s;
  }

  .modal-window.open {
      opacity: 1;
  }

  .modal-window::before {
      position: fixed;
      top: 0;
      left: 0;
      content: '';
      width: 100vw;
      height: 100%;
      background-color: #1b1a1a;
      opacity: 0.7;
      z-index: -1;
  }

  .count-click {
      color: #fff;
      font-size: 36px;
      font-weight: 600;
      text-align: center;
      padding: 5%;
      border-radius: 5px;
      border: 1px solid #fff;
  }

  .close-window {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
  }

.close-window::before,
.close-window::after {
    content: '';
    background-color: #fff;
    height: 3px;
    width: 100%;
    position: absolute;
}

.close-window::before {
    top: 13px;
    transform: rotate(-45deg);
}

.close-window::after{
    bottom: 14px;
    transform: rotate(45deg);
}